.fullWidthBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1d2026;
  margin: 0;
  padding: 0;
  z-index: -1;
  transition: background 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
